body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

@font-face {
 font-family: 'EmojiOne';
  src: url(/images/EmojiOneColor-SVGinOT.ttf);
}

.emojioke_out {
  background-color:#efefef;
  float: left !important;
  width: 49% !important;
  min-height: 480px;
}

#emoji_results {
  font-size: 30px;
  text-align: left;
}